body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

nav{
  display: flex;
  align-items: center;
  background-color: rgb(65, 28, 102);
  padding:  30px 15px;
  height: 90px;
}

nav>h4{
  margin-right: auto; 
  font-weight: 700;
  font-size: 22px;
  color: azure;
}
nav>img{
  height: 120px;
  border-style: double;

  margin-right: 5%;
}

main{
  padding: 55px 27px;
  background-image: url(./images/birdbackground.jpeg) ;
  background-repeat: no-repeat;
}

.footer{
  margin-top: 5px;
  padding: 5px;
  background-color: rgb(65, 28, 102);  position: fixed;
  color: aliceblue;
  bottom: 0;
  left: 0;
  width: 100%;
}

a{
  color: aliceblue;
}

.birds{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  border-style:double;
  width: 25%;

}

audio {
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
  width: 200px;
  height: 25px;
}